<div class="container prod-list">
	<h1>Product List</h1>
	<div class="row">
		<div ng-repeat="p in prods">
			<div class="col-xs-6 col-sm-3 prod-item">
				<a href="#/product/{{p.id}}" padding="5px;"> 
					<img class="img-responsive img-thumbnail"
						alt="{{p.prodName}}<br>Price: ${{p.prodPrice}}"
						src="{{serviceRoot}}{{p.prodImagePath}}">
				</a>
				 <div class="row">
					<div style="display:inline" class="col-xs-6">{{p.prodName}}</div>
					<div class="prod-list-price col-xs-6">${{p.prodPrice}} USD</div>
				</div>
				<div class="row">
					<span class="col-xs-12">{{p.prodDesc}}</span>
				</div> 
			</div>
		</div>
	</div>
</div>