<!DOCTYPE html>
<html>
<head>	
</head>
<body>
<div>Product</div>
<h1>Product Details</h1>
<!--  <p>Product Name is   {{prod.prodName}}</p>
<p>Product Desc is {{prod.prodDesc}}</p>
<p>Product Quantity is {{prod.prodQuantity}}</p>
<p>Product Type is {{prod.prodType}}</p>
<p>Product Price is {{prod.prodPrice}}</p>
<p>image is {{serviceRoot}}{{prod.prodImagePath}}</p>
<p>Product Image is <img style ="width: 100px ; height:100px" alt="image" src="{{serviceRoot}}{{prod.prodImagePath}}"></p>-->
			<div class="row">
		<div  ng-repeat="x in prods">
	
			 <div class="col-md-4" style="padding: 5px" align="center">
				<!--  Product Name is   {{x.prodName}}-->
			    <img style ="width: 100px ; height:100px" alt="image" src="{{serviceRoot}}{{x.prodImagePath}}">
			 </div>
			</div>
		</div>
		
	
</body>
</html>