body { padding-top: 50px; }
@media screen and (max-width: 768px) {
    body { padding-top: 50px; }
}
div .prod-list{
	margin: 5px;
    padding: 5px;
    //border: 1px solid #0000ff;
    //height: auto;
    //width: auto;
    float: left;
    align: center;
    text-align: center;  
   img { 
   	display: inline;
   	align: center;
    margin: 5px;
    height: 150px;
    width: 150px;
    border: 1px solid #ffffff;
    border-radius: 25px;
   }
   a:hover img {
    border:1px solid #0000ff;
	}
	desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
	}
}
.navbar-default .navbar-brand{	
		color:#e45560;
		font-size:20px;
}
.iRentLogo{
	margin: 5px;
    padding: 5px;
	font-weight: bold;
	align: center;
    text-align: center; 
    font-color:#e45560;
	
	a:hover{
		font-color:#e45560;
	}
}

